
.classpath
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.springframework.ide.eclipse.prefs
bin/*
target/*
.metadata/*
/bin/
/target/
.settings/org.eclipse.m2e.core.prefs
.sts4-cache/classpath-data.json
img/*
src/main/resources/application.properties
